{% extends "base.html" %}
{% block titulo %}Alunos{% endblock %}

{% block conteudo %} 


      <legend>Alunos</legend>

        <div class="row">
          <div class="col-md-2">
            <a href="cadastro-aluno.html"><button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"> Novo</button></a>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Pesquisar</button>
                </span>
                <input type="text" class="form-control" placeholder="Procurando por...">
              </div><!-- /input-group -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <br>
            <div class="panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading">Alunos</div>

              <!-- Table -->
              <table class="table">
                  <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Abrir</th>
                    <th>Matricula</th>
                  </tr>
                  {%for aluno in alunos%}
                  <tr>
                    <td>{{aluno.matricula}}</td>
                    <td>{{aluno}}</td>
                    <td>{{aluno.curso}}</td> 
                    <td ><a href=""class="glyphicon glyphicon-edit"></a></td>
                    <td ><a href=""class="glyphicon glyphicon-list-alt"></a></td>               
                  </tr>
                  {% endfor %}
              </table>
            </div>


          </div>
        </div>

{% endblock %}